<html>
  <head>
    <title>Message HTML Title</title>
  </head>
  <body>
    <div>
     
    
                <h3> Name: {{name}}</h3>
                <h4>Phone Number: {{phone}}</h4>
                <h4>Email: {{mail}}</h4>
                <h4>Delivery Type: {{delivery}}</h4>
                <h4>Total Amount: {{total}}</h4>
                  <p>Comment:{{text}}</p>

    </div>
  </body>
</html>

{{!-- fullName,email,phoneNumber,deliveryType,comment,totalAmount --}}