<html>
  <head>
    <title>Message HTML Title</title>
  </head>
  <body>
    <div>
      <h3> Имя: {{name}}</h3>
      <h4> Номер Телефона: {{phone}}</h4>
      <h4> Почта: {{mail}}</h4>
      <h4> Способ Доставки: {{delivery}}</h4>
      <p>  Комментарии к заказу: {{text}}</p>
      <P>
        {{#each card}}
        <H4>Название Продукта: {{name}}</H4>
        <H4>Количество: {{count}}</H4>
        <a href={{baseURL}}{{url}}>Смотреть Фото</a>
        {{/each}}
      </P>
      <h4> Итого: {{total}}</h4>
    </div>
  </body>
</html>

{{!-- fullName,email,phoneNumber,deliveryType,comment,totalAmount --}}