<html>
  <head>
    <title>{{name}}</title>
  </head>
  <body>
    <div>
      <span style="font-weight: bold;">Message: </span>
      <span>
        {{mail}}

        {{phone}}

        {{deliveryType}}

       

        {{total}}



      </span>
    </div>
  </body>
</html>

{{!-- fullName,email,phoneNumber,deliveryType,comment,totalAmount --}}